.witnessesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.witnessObject {
    padding: 15px;
    width: 14em;
    margin: 10px;
    border: 2px solid;
    background-color: rgb(201, 120, 82);
    border-radius: 5%;
}