.container {
    display: flex;
    flex-direction: column;
    border: 2px solid;

}

.criminalsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

}

.criminalObject {
    padding: 15px;
    width: 14em;
    margin: 10px;
    border: 2px solid;
}

.noteFormContainer {
    display: flex;
}

.invisible {
    display: none;
}

.witnessesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

}

.witnessObject {
    padding: 15px;
    width: 14em;
    margin: 10px;
    border: 2px solid;
}