@import url("../styles/criminals/criminals.css");
@import url("../styles/witnesses/witnesses.css");
@import url("../styles/notes/notes.css");

.container {
    display: flex;
    flex-direction: column;
    border: 2px solid;

}

.invisible {
    display: none;
}

